* {
 padding: 0;
 margin: 0;
 font-family: "Roboto", sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-areas:
    'sidebar header'
    'sidebar main-content';
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 250px 4fr;
}

/* Header CSS Styling*/

.header {
    background-color: white;
    grid-area: header;
    padding: 16px;
    align-items: center;
    padding-left: 3em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    row-gap: 10px;
}

.cat-profile {
    background: #facc15;
    border-radius: 50%;
    padding: 2px;
}

.search {
    display: flex;
    gap: 15px;
    align-items: center;
}

img {
    height: 24px;
}

.account-details {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;
    padding-right: 70px;
}

.account-details .cat-profile {
    height: 40px;
}
.search-bar {
    display: flex;
    flex-grow: 1;
    max-width: 60%;
}

input[type='text'] {
    border-radius: 15px;
    background-color: #e2e8f0;
    border-style: none;
    height: 25px;
    flex: 1;
}

.username {
    display: grid;
    grid: 25px 25px / 120px 1fr;
    align-items: center;
}

.username .cat-profile {
    grid-row: 1 / 3;
    height: 70px;
}

.account-name {
    font-size: 24px;
}

.add-content {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.add-content li {
    list-style: none;
    background-color: #1992d4;
    color: white;
    font-size: 18px;
    padding: 0.5em 2em;
    border-radius: 20px;
}

/* Sidebar CSS Styling */

.sidebar {
    background-color: #1992d4;
    grid-area: sidebar;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3em;
    color: #ffffff;
    font-weight: bold;
}

.sidebar img { 
    filter: invert(100%) sepia(0%) saturate(7465%) hue-rotate(58deg) brightness(121%) contrast(110%);
}
.main-content {
    background-color: #e2e8f0;
    grid-area: main-content;
}

.main-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard-icon {
    height: 40px;
}

.main-menu {
    display: grid;
    row-gap: 14px;
    align-items: center;
    grid-template-columns: 40px 1fr;
}

.account-menu {
    display: grid;
    row-gap: 14px;
    align-items: center;
    grid-template-columns: 40px 1fr;
    display: grid;    
}